  .line{
                    background-color: rgb(115, 206, 107);
              }
              h1{
                  background-color: chocolate;
              }
              .parent p{
                color: burlywood;
              }
              
              p:hover{
                color: rgb(255, 0, 119);
              }
                  
        
.border{
    border: 2px solid black;
    padding-left: 50px;
    border-radius: 20px;
    border-style: dotted;
}
.margin{
    border: 2px solid black;
    margin-top: 20px;
}
.margin1{
    border: 2px solid black;
    margin-top: 20px;
}
.static{
    position: static;
}
.position{
        border: 3px solid rgb(197, 8, 8);
}
.relative{
    position: absolute;
    top: 50px;
}
.page{
    height: 100vh;
}
.fixed{
    position: fixed;
    top: 100px;
}
.sticky{
     position: sticky;
     top: 50px;
}
.inline{
        display: flex;
}
.flex-container{
     display: flex;
     flex-direction:initial;
     justify-content:space-between;
     align-items: center;
     background-color: black;
     height: 100vh;
}
.item{
    background-color: cornflowerblue;
    border: 2px solid red;
    height: 100px;
    width: 100px;
}
.item{
    /* flex-grow: 2; */
    flex: shrink 0;
}
.navbar{
    display:flex;
    color: black;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aqua;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}
.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px;
}
.grid-container div{
    background-color: bisque;
    border: 2px solid rgb(231, 43, 43);
}
